* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

/* 
Header-Top
*/
.header-bar {
  background-color: #2c4559;
  color: #fff;
  padding: 0 1em;
  display: grid;
  grid-auto-flow: column;
}

.header-bar span {
  font-size: 1.5em;
  padding: 24px 0px 24px 16px;
}
#header-login-status {
  padding: 32px 10px;
  font-size: 14px;
  justify-self: end;
}

.loginForm-header {
  font-size: 12px;
  padding: 2.5em 0 0 1rem;
  justify-self: end;
}

.loginForm-header input {
  width: 60px;
  padding: 5px 16px;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
  cursor: pointer;
}

.loginForm-header .admin-btn {
  color: white;
  font-size: 12px;
  background: #4caf50;
  padding: 4px 16px;
  border-radius: 4px;
  border: none;
}

.loginForm-body {
  font-size: 1em;
  color: #2c4559;
}
.loginForm-body label {
  color: #2c4559;
  padding-bottom: 5px;
  display: grid;
}

.loginForm-body span {
  color: #2c4559;
  padding-left: 10px;
}

.loginForm-body input {
  background: #f0f0f0;
  padding: 5px 16px;
  border: 1px solid grey;
  border-radius: 4px;
  margin-bottom: 1.5em;
  cursor: pointer;
}

.loginForm-body .admin-btn {
  display: grid;
  height: 25px;
  width: 80px;
  color: white;
  font-size: 14px;
  background: #4caf50;
  border-radius: 4px;
  border: none;
  padding: 3px 16px;
}

/* Main Navigation */
.main-nav {
  background-color: #d9e0e6;
  padding-left: 1em;
}
.main-nav ul {
  list-style: none;
  display: flex;
}
.main-nav li {
  display: flex;
}

.main-nav a {
  text-decoration: none;
  color: #2c4559;
  padding: 0.5em 1em;
}
.main-nav a:hover {
  background-color: white;
}
.main-nav a:active,
.current {
  background-color: #2c4559;
  color: white;
}

.main-frame {
  padding: 1em 2em;
}
.main-frame h2 {
  display: inline;
  margin-right: 1em;
}
.main-frame h1,
h2,
ul,
p,
a {
  color: #2c4559;
  text-decoration: none;
  list-style: none;
}
.links {
  padding: 1em;
  display: grid;
}
a {
  /* text-decoration: none; */
  color: #2c4559;
}
.links a:hover {
  background-color: white;
}
a:active {
  background-color: #2c4559;
  color: white;
}
